[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-limiter = "*"
sqlalchemy = "==2.0.41"
alembic = "==1.14.1"
psycopg2-binary = "*"
gunicorn = "*"
requests = "*"
python-dotenv = "*"
cloudinary = "*"
werkzeug = "==3.0.1"
pyjwt = "==2.7.0"

[dev-packages]

[requires]
python_version = "3.12"
